[Match]
Type                    = ether

[Network]
Description             = ether default IPv4 DHCP / IPv6 autoconf
DHCP                    = ipv4
LinkLocalAddressing     = ipv6
IPv6AcceptRA            = yes
IPv6PrivacyExtensions   = yes

[DHCPv4]
SendHostname            = no
